@font-face {
    font-family: "Clash Display";
    src: url("fonts/ClashDisplay-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Clash Display',sans-serif;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px 20px;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
   background:linear-gradient(135deg,#140a20,#170720,#160827
);
    overflow:auto;
    padding:40px;
    color:white;
}

/* Animated Background */

body::before{
    content:"";
    position:fixed;
    width:350px;
    height:350px;
    background:#2563eb;
    border-radius:50%;
    filter:blur(120px);
    top:-120px;
    left:-100px;
    opacity:.5;
    z-index:-2;
}

body::after{
    content:"";
    position:fixed;
    width:350px;
    height:350px;
    background:#7c3aed;
    border-radius:50%;
    filter:blur(120px);
    bottom:-120px;
    right:-100px;
    opacity:.5;
    z-index:-2;
}

/* Glass Card */

.container{
    
    width:100%;
    max-width:700px;
    margin-bottom:40px;


.about-section{
    width:100%;
    max-width:700px;
    margin-bottom:40px;
    
}

    width:100%;
    max-width:700px;

    padding:35px;

    border-radius:25px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(25px);
    -webkit-backdrop-filter:blur(25px);

    border:1px solid rgba(255,255,255,.12);

    box-shadow:
        0 10px 40px rgba(0,0,0,.5),
        inset 0 0 25px rgba(255,255,255,.04);

}

/* Title */

h1{
    font-family:"Clash Display",sans-serif;
    text-align:center;
    font-size:52px;
    font-weight:600;
    color:#ffffff;
    margin-bottom:12px;
    letter-spacing:.5px;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #bdbdc7;
    line-height: 1.7;
}

.subtitle{
    text-align:center;
    color:#a1a1aa84;
    font-size:17px;
    line-height:28px;
    margin-bottom:35px;
}
/* lock */
.lock-icon{
    width:105px;
    display:block;
    margin:15px auto 20px;
    filter:drop-shadow(0 0 18px rgba(39, 4, 72, 0.55));
}
/* Label */

label{

    display:block;

    margin-bottom:10px;

    font-weight:600;

    color:#e2e8f044;

}

/* Password Box */

.password-box{

    display:flex;

    margin-bottom:20px;

}

.password-box input{
    font-family: "Poppins", sans-serif;

    flex:1;

    padding:15px;

    border:none;

    border-radius:12px 0 0 12px;

    background:rgba(255,255,255,.08);

    color:white;

    outline:none;

    font-size:16px;

    transition:.3s;

}

.password-box input::placeholder{

    color:#94a3b8;

}

.password-box input:focus{

    background:rgba(255,255,255,.12);

    box-shadow:0 0 15px rgba(59,130,246,.5);

}

/* Eye Button */

.toggle-btn{
    font-family: "Inter", sans-serif;

    width:60px;

    border:none;

    cursor:pointer;

    background:#3b82f6;

    color:white;

    font-size:22px;

    border-radius:0 12px 12px 0;

    transition:.3s;

}

.toggle-btn:hover{

    background:#7e22ce;

}

/* Submit Button */

.check-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    color:white;

    font-size:17px;

    font-weight:bold;

    background:linear-gradient(90deg,#2563eb,#7c3aed);

    transition:.3s;

}

.check-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 0 20px rgba(98, 11, 173, 0.6);

}

/* Result Card */

.result-card{

    margin-top:35px;

    background:rgba(255,255,255,.05);

    border-radius:18px;

    padding:25px;

}

/* Analysis */

.analysis{

    margin-top:20px;

}

.row{

    display:flex;

    justify-content:space-between;

    padding:14px 0;

    border-bottom:1px solid rgba(255,255,255,.08);

}

.row span{

    color:#e2e8f0;

    font-size:16px;

}

/* Progress */

.progress-bar{

    margin-top:20px;

    width:100%;

    height:14px;

    background:rgba(255,255,255,.08);

    border-radius:20px;

    overflow:hidden;

}

.progress{

    height:100%;

    width:0%;

    border-radius:20px;

    background:linear-gradient(90deg,#390467,#3b82f6,#8b5cf6);

    transition:1s;

}

/* Score */

.score{

    text-align:center;

    margin-top:15px;

    font-size:22px;

    font-weight:bold;

}

/* Strength */

.strength{

    text-align:center;

    margin:20px 0;

    font-size:30px;

    font-weight:700;

}

/* Suggestions */

.suggestions{

    margin-top:25px;

    background:rgba(255,255,255,.05);

    padding:20px;

    border-radius:15px;

}

.suggestions h3{

    margin-bottom:10px;

}

.suggestions ul{

    padding-left:20px;

}

.suggestions li{

    margin:10px 0;

    color:#cbd5e1;

}

/* Scrollbar */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#c026d3;

    border-radius:20px;

}

/* Mobile */

@media(max-width:700px){

body{

    padding:20px;

}

.container{

    padding:25px;

}

.password-box{

    flex-direction:column;

}

.password-box input{

    border-radius:12px;

}

.toggle-btn{

    width:100%;

    height:50px;

    margin-top:10px;

    border-radius:12px;

}

}
/* ===========================
   About Section
=========================== */

.about-section{
    margin-top:45px;
    padding:30px;
    border-radius:22px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(168,85,247,.25);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}

/* Google Font */

.about-section h2{
    font-family:'Poppins',sans-serif;
    font-size:28px;
    font-weight:700;
    color:#ffffff;
    margin-bottom:18px;
    letter-spacing:.5px;
}

/* Paragraphs */

.about-section p{
    font-family:'Poppins',sans-serif;
    font-size:16px;
    line-height:1.9;
    color:#cfcfe8;
    margin-bottom:18px;
}

/* Highlight Name */

.about-section strong{
    color:#b16cff;
    font-weight:600;
}

/* Links */

.contact-links{
    margin-top:30px;
    text-align:center;
}

.contact-links a{
    font-family:'Poppins',sans-serif;
    color:#b16cff;
    text-decoration:none;
    font-weight:600;
    margin:0 12px;
    transition:.3s;
}

.contact-links a:hover{
    color:#ffffff;
    text-shadow:0 0 12px #a855f7;
}

/* Divider */

.contact-links::before{
    content:"";
    display:block;
    width:70px;
    height:2px;
    margin:0 auto 25px;
    background:linear-gradient(90deg,#7c3aed,#c026d3);
    border-radius:10px;
}
