<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Font (if using Google Fonts or another hosted font) -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Password Strength Checker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">
    <img src="{{ url_for('static', filename='lock.png') }}" alt="Lock Icon" class="lock-icon">
    <h1>Password Strength Checker</h1>

    <p class="subtitle">
        Check the strength of your password.
    </p>

    <form method="POST">

      

        <div class="password-box">

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required>

            <button
                type="button"
                class="toggle-btn"
                onclick="togglePassword()">
                👁
            </button>

        </div>

        <button type="submit" class="check-btn">
            Check Password
        </button>

    </form>

    {% if strength %}

    <div class="result-card">

        <h2>Password Analysis</h2>

        <div class="analysis">

            <div class="row">
                <span>Minimum 8 Characters</span>
                <span>{% if length_ok %}✔{% else %}✘{% endif %}</span>
            </div>

            <div class="row">
                <span>Uppercase Letter</span>
                <span>{% if has_upper %}✔{% else %}✘{% endif %}</span>
            </div>

            <div class="row">
                <span>Lowercase Letter</span>
                <span>{% if has_lower %}✔{% else %}✘{% endif %}</span>
            </div>

            <div class="row">
                <span>Number</span>
                <span>{% if has_digit %}✔{% else %}✘{% endif %}</span>
            </div>

            <div class="row">
                <span>Special Symbol</span>
                <span>{% if has_symbol %}✔{% else %}✘{% endif %}</span>
            </div>

        </div>

        <h3>Password Score</h3>

        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>

        <p class="score">{{ score }}/5</p>

        <h2 class="strength">{{ strength }}</h2>

        <div class="suggestions">

            <h3>Suggestions</h3>

            {% if suggestions %}

            <ul>
                {% for item in suggestions %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>

            {% else %}

            <p>🎉 Excellent! Your password is strong.</p>

            {% endif %}

        </div>

    </div>

    {% endif %}

</div>

<section class="about">

    <h2>About Me</h2>

    <p>
        Hi, I'm <strong>Abhinav Singh</strong>, an aspiring CSE (Cybersecurity & Networking) student [2024-2028] | 
        SOC Analyst Student | Skilled in Linux, 
        Python, C, Splunk, Nmap, Metasploit | Powershell |
        Front End Dev | Backened Flask | Passionate about 
        threat detection,security operations 
    </p>

    <p>
        This Password Strength Detector is one of my learning projects, developed
        using Python, Flask, HTML, and CSS. It evaluates password security by
        checking password length, uppercase and lowercase letters, numbers, and
        special characters, then provides a strength rating along with suggestions
        for improvement.
    </p>

  

    <p class="contact-links">
        Feel free to connect with me and explore more of my work.<br><br>

          <a href="https://www.linkedin.com/in/abhinav-singh-0a8b973a5/" target="_blank">
            LinkedIn
        </a>

        <a href="https://github.com/dragthenetwork-eng" target="_blank">
            GitHub
        </a>

        |

      
    </p>
</section>

<script>
function togglePassword() {
    const password = document.getElementById("password");

    if (password.type === "password") {
        password.type = "text";
    } else {
        password.type = "password";
    }
}

const progress = document.getElementById("progress");

if (progress) {
    progress.style.width = "{{ progress }}%";
}
</script>

</body>
</html>
